* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    background-color: #6E3931;
    padding-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav.active {
    font-weight: bold;
    text-decoration: underline;
}

.promos-wrapper {
    display: flex;
    overflow: hidden;
}

.homeHeader--dots {
    position: absolute;
    left: 50%;
    display: flex;
}

/* .homeHeader--dots div {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: rgb(203, 203, 203);
} */


.promo {
    min-width: 90vw;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px 0 20px;
    margin: 10px 30px 0 30px;
    border-radius: 10px;
    background: rgb(199, 82, 64);
    background: linear-gradient(90deg, rgba(199, 82, 64, 1) 24%, rgba(168, 62, 46, 1) 55%, rgba(110, 57, 49, 1) 100%);
}

.promo--img {
    width: 200px;
    height: 145px;
    align-self: flex-end;
}

.promo--offerTitle>* {
    margin: 0;
}

.promo--subTitle {
    margin-left: 45%;
}

.promo--subTitle>* {
    margin: 0;
}

/* layout nav*/
.layout-nav {
    margin: 20px 30px;
    display: flex;
    justify-content: space-around;
}

.layout-nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    width: calc(100%/3);
}


.solidUnderLine>.layout-nav--underline--solid {
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background-color: #5D4037;
}

.lightUnderLine>.layout-nav--underline--light {
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background-color: #CACACA;
}

/* filters */

.filters {
    margin: 10px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.filters a {
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #3C3C3C;
    font-weight: bold;
    background-color: #efebe9;
}

.filters a:hover {
    background-color: #5d403777;
}

.filters a>img {
    margin-right: 5px;
}

.filters a.filter--active {
    color: white;
    background-color: #5D4037;
}

/* main */

main {
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-wrapper {
    width: Min(90%, 1000px);
    display: grid;
    grid-template: 1fr/1fr 3fr 1fr;
    padding: 15px 0;
}

.coffee-wrapper>* {
    margin: 0 20px;
}

.coffee-Img-and-rating {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coffeeImg {
    scale: 1.2;
}

.coffeeImg--backgorund {
    width: 66px;
    height: 69px;
    background-color: #bfbfb891;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.coffee--rating {
    background-color: #CACACA;
    border-radius: 20px;
    padding: 0 5px;
    position: absolute;
    top: 70%;
}

.about-coffee>* {
    margin: 5px;
}

.coffee-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.coffee-price>* {
    margin: 5px;
}

.cofee-price--old {
    text-decoration: line-through;
    font-size: .8em;
    color: #CACACA;
}

@media only screen and (max-width:500px) {
    main {
        padding: 5px;
        margin: 0;
    }

    .promo--img {
        width: 153px;
        height: 95px;
    }

    .promo--offerTitle h1 {
        font-size: 25px;
    }

    .promo--offerTitle h3 {
        font-size: 15px;
    }

    .promo--subTitle,
    :where(h4, h6) {
        font-size: .8em;
    }

    .about-coffee h3 {
        font-size: .9em;
    }

    .about-coffee--description {
        font-size: .9em;
    }
}

@media only screen and (max-width:750px) {
    .filters {
        grid-template: 1fr 1fr/ 1fr 1fr;
        gap: 10px;
    }

    main {
        padding: 5px;
        margin: 0;
    }
}

@media only screen and (min-width:750px) {
    .coffee-wrapper {
        font-size: 1.2em;
    }


    .coffee-Img-and-rating {
        scale: 1.1;
    }
}