* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    background-color: #6E3931;
    padding-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav.active {
    font-weight: bold;
    text-decoration: underline;
}

.promos-wrapper {
    display: flex;
    overflow: hidden;
}

.homeHeader--dots {
    position: absolute;
    left: 50%;
    display: flex;
}

/* .homeHeader--dots div {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: rgb(203, 203, 203);
} */


.promo {
    min-width: 90vw;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px 0 20px;
    margin: 10px 30px 0 30px;
    border-radius: 10px;
    background: rgb(199, 82, 64);
    background: linear-gradient(90deg, rgba(199, 82, 64, 1) 24%, rgba(168, 62, 46, 1) 55%, rgba(110, 57, 49, 1) 100%);
}

.promo--img {
    width: 200px;
    height: 145px;
    align-self: flex-end;
}

.promo--offerTitle>* {
    margin: 0;
}

.promo--subTitle {
    margin-left: 45%;
}

.promo--subTitle>* {
    margin: 0;
}

/* layout nav*/
.layout-nav {
    margin: 20px 30px;
    display: flex;
    justify-content: space-around;
}

.layout-nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    width: calc(100%/3);
}


.solidUnderLine>.layout-nav--underline--solid {
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background-color: #5D4037;
}

.lightUnderLine>.layout-nav--underline--light {
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background-color: #CACACA;
}

/* filters */

.filters {
    margin: 10px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.filters a {
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #3C3C3C;
    font-weight: bold;
    background-color: #efebe9;
}

.filters a:hover {
    background-color: #5d403777;
}

.filters a>img {
    margin-right: 5px;
}

.filters a.filter--active {
    color: white;
    background-color: #5D4037;
}

/* main */

main {
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-wrapper {
    width: Min(90%, 1000px);
    display: grid;
    grid-template: 1fr/1fr 3fr 1fr;
    padding: 15px 0;
    text-decoration: none;
    color: black;
}

.coffee-wrapper>* {
    margin: 0 20px;
}

.coffee-Img-and-rating {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coffeeImg {
    scale: 1.2;
}

.coffeeImg--backgorund {
    width: 66px;
    height: 69px;
    background-color: #bfbfb891;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.coffee--rating {
    background-color: #CACACA;
    border-radius: 20px;
    padding: 0 5px;
    position: absolute;
    top: 70%;
}

.about-coffee>* {
    margin: 5px;
}

.coffee-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.coffee-price>* {
    margin: 5px;
}

.cofee-price--old {
    text-decoration: line-through;
    font-size: .8em;
    color: #CACACA;
}

@media only screen and (max-width:500px) {
    main {
        padding: 5px;
        margin: 0;
    }

    .promo--img {
        width: 153px;
        height: 95px;
    }

    .promo--offerTitle h1 {
        font-size: 25px;
    }

    .promo--offerTitle h3 {
        font-size: 15px;
    }

    .promo--subTitle,
    :where(h4, h6) {
        font-size: .8em;
    }

    .about-coffee h3 {
        font-size: .9em;
    }

    .about-coffee--description {
        font-size: .9em;
    }
}

@media only screen and (max-width:750px) {
    .filters {
        grid-template: 1fr 1fr/ 1fr 1fr;
        gap: 10px;
    }

    main {
        padding: 5px;
        margin: 0;
    }
}

/* order form */
.productDetailsWrapper {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    padding-top: 52px;
}

.productDetails--header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: white;
    padding-left: 10px;
    z-index: 2;
    left: 0;
    top: 0;
    box-shadow: 0px 1px 3px 0px #7d7676;
}

.productDetails--header img {
    margin-right: 10px;
}

.productDetails--footer {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    box-shadow: 0px -1px 2px #7d7676;
}

.productDetails--imgBg img {
    scale: 2;
}

.productDetails--imgBg {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #efebe9;
}

.orderForm {
    max-width: 800px;
    padding: 20px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderForm>*:not(:last-child) {
    box-shadow: 0px 0px 3px 0px #b7adad;
    border-radius: 10px;
    padding: 5px 5px;
}

.orderForm--sectionTitle {
    margin: 0;
}

.orderForm--aboutProduct>* {
    display: flex;
    justify-content: space-between;
}

.orderForm--aboutProduct * {
    margin: 5px 0;
}


/* form countine after counter */
/* counter */
.counter {
    display: flex;
    width: 73px;
    height: 27px;
    border-radius: 5px;
}

.counter>* {
    width: calc(100%/3);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter--button {
    color: white;
    font-weight: bold;
    background-color: #5D4037;
    cursor: pointer;
    user-select: none;
}

.counter--display {
    border: 1px solid #5D4037
}

.dot-divider {
    width: 3px;
    height: 3px;
    background-color: #5D4037;
    border-radius: 50%;
}

/* continue */

.aboutProducts--rating {
    display: flex;
    align-items: center;
}

.aboutProducts--rating--detials {
    display: flex;
    align-items: center;
}

.aboutProducts--rating--detials * {
    margin: 3px;
}

.orderForm--orderForm {
    border: 1px solid blue;
}

.orderForm--inputwrapper {
    display: flex;
    justify-content: space-between;
}

.orderForm--inputwrapper p {
    margin: 8px 0;
    color: #6E3931;
}

.orderForm--option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orderForm--option label {
    font-weight: bold;
    border: 1px solid #5D4037;
    border-radius: 7px;
    color: #5D4037;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customize--radio input {
    display: none;
}

/* checkbox */
input[type="checkbox"] {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}


input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.orderForm--option input:checked+label {
    color: white;
    background-color: #5D4037;
}

.orderForm--notes>.orderForm--inputwrapper {
    flex-direction: column;
}

.orderForm--notes>.orderForm--inputwrapper textarea {
    align-self: center;
    width: 90%;
    height: 70px;
    border-radius: 10px;
    font-family: 'Outfit',
        sans-serif;
    padding: 10px;
    resize: none;
}

.productDetails--footer--price>* {
    margin: 0;
}

.orderForm button {
    width: 132px;
    height: 48px;
    color: white;
    background-color: #5D4037;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;

}

.productDetails--footer {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (min-width:750px) {
    .coffee-wrapper {
        font-size: 1.2em;
    }


    .coffee-Img-and-rating {
        scale: 1.1;
    }
}

@media only screen and (max-width:400px) {
    .orderForm--option label {
        font-size: .8em;
    }
}